.div1{
  border:1px outset ;
  width: 350px;
  text-align: center;
  background-color: #e74c3c;
  margin-left: 500px;
 
 
}
img {
  height: 300px;
width: 250px;
border-radius: 5px;

}
body {
  background-image: url(/src/5571231.jpg);
}
.header {
  text-align: center;
}
.header h1 {
  color: #e74c3c;
}
.div1 h1 {
  color: #000;
  font-size: large;
}
Button {
  text-align: center;
 width: 110px;
 border-radius: 60px;
 height:50px;
}